@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Fira Sans", sans-serif;
  color: rgb(41, 41, 41);
  transition: all 300ms ease-in-out;
}

body {
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  color: rgb(41, 41, 41);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
  list-style-type: none;
}

p {
  font-size: 0.9em;
}

// navigation design
nav.navigation-bar {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  div.side-navigation {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 30000;
    transform: translateX(-100vw);

    &.open-nav {
      transform: translateX(0);
    }
    div.nav {
      background: #fff;
      height: 100vh;
      width: 80vw;
      div.nav-head {
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        h1 {
          font-size: 1.2em;
        }

        button {
          background: transparent;
          font-size: 2em;
        }
      }
      ul {
        li {
          a {
            padding: 20px !important;
            display: inline-block;
          }
        }
      }
    }
  }
  div.navigation-menu {
    ul.nav-navigation {
      display: none;
      li {
        a {
          color: #333;
        }
      }
    }
  }

  //   burger navigation
  div.burger-nav {
    width: 30px;
    height: 25px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    div {
      height: 2px;
      background: #333;
      width: 100%;
      border-radius: 20px;
      &:last-child {
        width: 70%;
      }
    }
  }

  i.search-icon {
    font-weight: normal !important;
    font-size: 1em;
  }

  a.brand-name {
    font-weight: bolder;
    font-size: 1.3em;
    justify-self: center;
    span {
      color: rgb(236, 96, 119);
    }
  }
}

@media screen and (min-width: 800px) {
  div.burger-nav {
    display: none !important;
  }

  div.side-navigation {
    display: none !important;
    visibility: hidden;
  }

  a.brand-name {
    font-size: 1.5em !important;
  }
  div.navigation-menu {
    ul.nav-navigation {
      display: inline-block !important;
      li {
        display: inline;
        a {
          font-size: 1em;
          padding: 0 20px;
        }
      }
    }

    i.search-icon {
      padding: 0 20px;
    }
  }
}
